@charset "UTF-8";
@import url("./reset-sy.css");
@import url("./style-font.css");

.container{
  width: 100%;
  position: relative;
}

.video-wrapper{
  width: 100%;
  height: 500px;
  overflow: hidden;
  padding-top: 100px;
}

.main-video{
  width: 100%;
}

.text{
  position: absolute;
  top: 4%;
  left: 6%;
  width: 120px;
  color: #222222;
  font-family: "Lato-Light";
  font-weight: bold;
  font-size: 1.8rem;
}

.text::after{
  content: "";
  background: url("images/ca.png") 50% 50% no-repeat;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 85%;
}

.navigation{
  width: 100%;
  background-color: #222222;
  position: absolute;
  top: 0;
  right: 95%;
  transition: all 2s;
}

.navigation:hover,
.navigation:focus{
  right: 0%;
}

.navigation ul{
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation ul li{
  font-size: 1.8rem;
  color: #fff;
  font-family: 'Lato-Light';
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}

.navigation ul li:hover,
.navigation ul li:focus{
  font-family: 'Lato-Regular';
}

.navigation ul li a::after{
  content: "";
  position: absolute;
  top: 95%;
  right: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: all 0.4s;
}

.navigation ul li a:hover::after,
.navigation ul li a:focus::after{
  right: 0;
}

.intro{
  border: 3px solid #02ADF8;
  padding: 10px 10px 10px;
  color: #02ADF8;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.4rem;
  font-family: 'Lato-Light';
  font-weight: bold;
}

.intro:focus, .intro:hover{
  opacity: 0.5;
}

.my-info{
  position: absolute;
  top: 110%;
  right: 3%;
  text-align: right;
  color: #000;
  font-family: 'Lato-Light';
  font-weight: bold;
  margin-right: 30px;
}

.my-info strong{
  font-size: 2.2rem;
}

.my-info p{
  font-size: 1.8rem;
  font-style: italic;
}
