@charset "UTF-8";
@import url("./reset-sy.css");
@import url("./style-font.css");
@import url("./grid.css");

body{
  font-family: 'Lato-Regular';
  position: relative;
}

.container{
  width: 80%;
  margin: auto;
}

header{
  background-color: #02ADF8;
  position: fixed;
  width: 80%;
  height: 40px;
  z-index: 1000;
}

.navigation{
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation ul{
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul li{
  font-size: 1.6rem;
  color: #fff;
  font-family: 'Lato-Light';
  font-weight: bold;
}

.navigation ul li:hover,
.navigation ul li:focus{
  font-family: 'Lato-Regular';
}

.profile{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.text{
  padding-top: 40px;
}

.box{
  width: 80%;
  margin: 0 auto 50px;
}

.box strong{
  font-size: 2rem;
  color: #bf2a69;
  font-family: 'YouandiModernTB';
}

.box p{
  font-size: 1.4rem;
  line-height: 2;
  margin-top: 10px;
  text-shadow: 0.5px 0 0.5px rgba(55,87,100,0.7);
  font-family:'YouandiModernTR';
}
