@import url("../form-font.css")

/* 기본 스타일 */

body{
  font-size: 14px
  font-family: 'VarelaRound-Regular'
}
ul
  list-style-type: none

a
  color: inherit


/* 자주 쓰는 모듈 설정 */

.flex-center
  display: flex
  justify-content: center
  align-items: center

@mixin oswald($color: #1f4ba5)
  font-family: 'Oswald-Bold'
  color: $color

.text-center
  text-align: center
  position: absolute
  height: 170px
  top: 40px


/* 그리드 */

.container .grid
  width: 1920px

.container .grid
  position: relative
  &::before
    content: ''
    background: linear-gradient(90deg, rgba(200,100,100,0.3) 120px, transparent 120px)
    background-size: 240px 1px
    position: absolute
    top: 0
    left: 0
    width: 100%
    min-height: 200vh
    z-index: 1000


/* 본문 스타일 */

header
  height: 80px
  @extend .flex-center

.logo
  width: $col * 2

.head-navi
  @extend .flex-center
  width: $col * 6

.add-btn
  @extend .flex-center
  width: $col * 4

.big-slide
  width: $col * 8
  height: $col * 4
  float: left
  background-image: url(../images/biggest.png)
  span
    @include oswald
  div
    padding-left: $col * 4
    padding-top: 100px
    width: $col * 3
    h1
      font-size: 48px
    p
      font-size: 16px
      color: #868686

.mains
  div
    width: $col * 2
    height: $col * 2
    float: left

.main-1
  position: relative
  .text
    span
      @include oswald
    p
      padding-top: 110px

.main-2
  background-image: url(../images/main-2.png)
  position: relative
  font-size: 18px
  @include oswald(#fff)
  @extend .flex-center
  p
    width: 150px
    text-align: center
    line-height: 30px

.main-3
