
.about_wrapper .back_img{
    background: url("../images/back5.png") no-repeat;
    background-size: contain;
    top: 10px;
    right: -20px;
    width: 100px;
    height: 100px;
}


/* about 페이지 */

.content_section .about1_container,
.content_section .about2_container,
.content_section .about3_container{
    width: 100%;
}
.content_section .about1_container{
    padding-top: 20px;
}
.about1_container .cont_img{
    width: 300px;
    height: 558px;
    position: relative;
    float: left;
}
.about1_container .my_img{
    width: 100%;
    height: auto;
}
.about1_container .background{
    position: absolute;
    width: 300px;
    height: 558px;
    top: 7px;
    left: 7px;
    z-index: -1;
    background-color: #E84E41;
}
.about1_container .cont_text{
    width: 600px;
    float: left;
}
.about1_container .cont_text > ol{
    width: 580px;
    padding-top: 20px;
}
.about1_container .cont_text > ol > li{
    width: 100%;
    height: 120px;
}
.about1_container .cont_text li .year{
    float: left;
    width: 150px;
}
.about1_container .cont_text li .year .circle{
    width: 80px;
    height: 80px;
    border-radius: 50% 50%;
    text-align: center;
    padding: 18px;
    margin: auto;
    color: #fff;
    background-color: #E84E41;
    font-weight: bold;
    font-size: 20px;
}
.about1_container .cont_text li .word{
    float: left;
    width: 430px;
    font-size: 13px;
    color: #501212;
    font-family: 'Spoqa Han Sans', sans-serif;
    height: 80px;
}


/* history 페이지 */

.content_section .about2_container{
    padding-top: 70px;
}
.about2_container h3{
    font-size: 34px;
    font-weight: lighter;
    margin-bottom: 25px;
}
.about2_container .career_box{
    margin-bottom: 50px;
}
.about2_container .cont_text{
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
}
.about2_container h4{
    font-weight: 700;
    font-size: 16px;
    float: left;
}
.about2_container .cont_text .date{
    font-style: italic;
    font-size: 16px;
    color: #999;
    margin-left: 25px;
}
.about2_container .cont_text p{
    padding-left: 10px;
}


/* resume 페이지 */

.about3_container .spinner{
    width: 100%;
    height: 400px;
    margin: 0;
    text-align: center;
}
.about3_container .spinner .loader{
    position: relative;
    top: 40%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    background-color: #03a9f4;
    border-radius: 50%;
}
.about3_container .spinner .loader:after{
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid #e6e6e6;
    transform: translate(-50%, -50%);
    animation: loading 1000ms ease-out forwards infinite;
}
.about3_container .spinner .loader > p{
    top: 20px;
    font-weight: bold;
}

@keyframes loading{
    0%{
        border: 0px solid #e6e6e6;
    }
    20% {
        border: 8px solid #e6e6e6;
        width: 0%;
        height: 0%;
    }
    100% {
        border: 8px solid #e6e6e6;
        width: 100%;
        height: 100%;
    }
}
