
.contact_wrapper .contact_box{
    width: 1000px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: transparent;
    background-image: linear-gradient(#E84E41, #E84E41);
    cursor: auto;
    position: relative;
    overflow: hidden;
}
.contact_box .info_list{
    padding-top: 100px;
}
.contact_box .info_list > li{
    width: 100%;
    height: 50px;
    font-size: 30px;
    padding-left: 80px;
}
.contact_box .info_list > li > span{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 28px;
}
.contact_box .rat{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -23px;
    right: 0;
    opacity: 0;
}
.contact_box .rat img{
    width: 100%;
}
.contact_box .foot img{
    width: 60px;
    position: absolute;
    opacity: 0;
}
.contact_box .foot img:nth-child(1){
    top: 60px;
    right: 140px;
    width: 60px;
}
.contact_box .foot img:nth-child(2){
    top: 160px;
    right: 20px;
    width: 40px;
}
.contact_box .foot img:nth-child(3){
    top: 240px;
    right: 80px;
    width: 70px;
}
