@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400,500');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');


body{
  font-family:  'Palanquin Dark', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
ul, ol{
  list-style-type: none;
}
button{
    border: 0;
    box-shadow: 0;
}
.head{
    font-family: 'Josefin Sans', sans-serif;
}
.hidden{
    position: absolute;
    top: 0;
    left: -9999px;
}
.clear{
    display: block;
    clear: both;
}
button{
  cursor: pointer;
  background-color: transparent;
}


/* header design */

.body_wrapper{
    width: 100%;
}
.header{
    width: 100%;
    height: 80px;
    padding: 0 50px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}
.header .img_header,
.header .navigation{
    float: left;
}
.header .img_header{
    width: 400px;
    text-align: center;
}
.header .img_header img{
    width: 50px;
    margin: auto;
    margin-top: 14px;
    height: auto;
    border: 2px solid #fff;
}
.header .navigation{
    width: 700px;
    line-height: 80px;
}
.navigation li{
    float: left;
    width: 140px;
    text-align: center;
}
.navigation li.clicked{
    background-color: #e6e6e6;
    color: #0d0d0d;
}
.navigation li a{
    width: 100%;
    display: block;
}


/* main section design */

.slide_wrapper{
    width: 100%;
    position: relative;
    height: 700px;
    overflow: hidden;
}
.slide_container{
}
.slide_container > div[class*='slide']{
    float: left;
    height: 700px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}
.slide_container > div[class*='slide'] > p.big{
    width: 100%;
    text-align: center;
    font-size: 56px;
    margin-top: 240px;
    color: #fff;
    letter-spacing: 5px;
    font-weight: lighter;
}
.slide_container > div[class*='slide'] > span{
    position: absolute;
    top: 140px;
    left: 45%;
    color: #fff;
    font-size: 24px;
}
.slide_container > .slide_1{
    background-image: url("../images/2-2.jpg");
}
.slide_container > .slide_2{
    background-image: url("../images/2.jpg");
}
.slide_container > .slide_3{
    background-image: url("../images/4.jpg");
}
.slide_container > .slide_4{
    background-image: url("../images/3.jpg");
}
.slide_container > .go_container,
.slide_container > .dot_container{
    position: absolute;
    left: 50%;
}
.slide_container > .go_container{
    bottom: 160px;
    width: 300px;
    margin-left: -150px;
}
.go_container > button{
    width: 150px;
    height: 50px;
    border: 4px solid #fff;
    float: left;
    color: #fff;
    font-size: 20px;
}
.go_container > button:hover{
    background-color: #fff;
    color: #0d0d0d;

}
.slide_container > .dot_container{
    width: 160px;
    bottom: 40px;
    margin-left: -80px;
    text-align: center;
}
.dot_container > div{
    display: inline;
}
.dot_container i{
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}
.slide_container button.btn_prev,
.slide_container button.btn_next{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 47%;
}
.slide_container button.btn_prev{
    left: 0;
}
.slide_container button.btn_next{
    right: 0;
}
.slide_container .btn_prev i,
.slide_container .btn_next i{
    color: #fff;
    opacity: 0;
}
.slide_container:hover .btn_prev i,
.slide_container:hover .btn_next i{
    opacity: 1;
    transition: opacity, 1s;
}


/* about section design */

.about_wrapper{
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}
.about_wrapper h2{
    font-size: 34px;
    font-weight: lighter;
    position: relative;
    display: inline;
    padding-bottom: 30px;
}
.about_wrapper h2::after{
    content: '';
    position: absolute;
    top: 96%;
    bottom: 0;
    left: 20%;
    right: 20%;
    background-color: #0d0d0d;
}
.about_wrapper .hello_container{
    height: 350px;
    padding: 80px 0;
}
.about_wrapper .hello_container p{
    margin-top: 70px;
}
.about_wrapper .skill_container{
    background-color: #0d0d0d;
    opacity: 0.9;
    color: #fff;
    padding: 80px 0 0;
}
.skill_container h2::after{
    background-color: #FE284B;
}
.skill_container .box_container{
    margin-top: 150px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
.skill_container .cont_box{
    width: 240px;
    height: 340px;
    float: left;
}
.skill_container .cont_box > p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    width: 200px;
    margin: 12px auto 0;
}
.skill_container .cont_box i,
.skill_container .cont_box .fa-img{
    display: block;
    border-radius: 50% 50%;
    width: 80px;
    height: 80px;
    padding-top: 18px;
    padding-left: 6px;
    color: #fff;
    background-color: #FE284B;
    margin: auto;
}
.skill_container .cont_box .fa-img{
    padding-top: 5px;
    padding-left: 3px;
    margin: auto;
}
.skill_container .cont_box:nth-of-type(2) img{
    width: 70px;
    height: 70px;
}
.skill_container .cont_box:nth-of-type(3) i{
    padding-left: 0;
}
.skill_container .cont_box span{
    display: block;
    margin: 30px auto 0;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.skill_container .box_container > p{
    width: 80px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
}
.skill_container .cont_sub{
    float: left;
    width: 300px;
    padding-left: 150px;
}
.skill_container .cont_sub span{
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #FE284B;
    width: 140px;
    display: block;
    margin-bottom: 14px;
}
.about_container{
    padding: 80px 0 0;
    position: relative;
}
.about_container .img_box,
.about_container .text_box{
    width: 300px;
    height: 400px;
    margin-top: 100px;
}
.about_container .img_box{
    margin-left: 400px;
}
.about_container .text_box{
    position: absolute;
    top: 130px;
    right: 400px;
}
.about_container .text_box .cont_text{
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
}
.about_container .text_box .cont_text h4{
    font-size: 15px;
}
.about_container .text_box .cont_text .date{
    color: #999;
}


/* career section design */

.career_wrapper{
    width: 100%;
    text-align: center;
    background-color: #0d0d0d;
    opacity: 0.9;
    color: #fff;
    padding: 80px 0 0;
}
.career_wrapper h2{
    font-size: 34px;
    font-weight: lighter;
    position: relative;
    display: inline;
    padding-bottom: 30px;
}
.career_wrapper h2::after{
    content: '';
    position: absolute;
    top: 96%;
    bottom: 0;
    left: 20%;
    right: 20%;
    background-color: #FE284B;
}
.career_wrapper .career_container{
    height: 700px;
    padding-top: 100px;
}
.career_container > div[class*='container']{
    width: 50%;
    height: 300px;
    float: left;
}
.career_container h4{
    font-size: 30px;
    font-weight: 700;
    padding-left: 240px;
    text-align: left;
    margin-bottom: 30px;
}
.container_1{
    position: relative;
}
.container_1 .slide{
    width: 640px;
    height: 360px;
    overflow: hidden;
    box-shadow: .4px 2px 1px #666;
    position: relative;
    margin: auto;
}
.container_1 .slide_all{
    position: absolute;
    top: 0;
    left: 0;
    width: 3200px;
    height: 450px;
}
.container_1 .slide img{
    width: 640px;
    height: auto;
    float: left;
}
.career_container .btn_slide{
    position: absolute;
    top: 75%;
    width: 730px;
    height: 40px;
    left: 15px;
}
.career_container .btn_slide button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}
.career_container .btn_slide button.disabled{
    cursor: auto;
}
.career_container .btn_slide button.disabled i{
    opacity: 0.3;
}
.career_container .btn_slide button:nth-child(1){
    float: left;
}
.career_container .btn_slide button:nth-child(2){
    float: right;
}
.career_container .btn_slide button i{
    color: #FE284B;
    opacity: 0.8;
}
.container_2 .video_container{
    width: 670px;
    height: 376px;
    overflow: hidden;
    border: 3px solid #000;
    margin: auto;
}
.container_2 h4{
    margin-bottom: 24px;
    padding-left: 180px;
}
.career_container p{
    font-size: 14px;
    margin-top: 20px;
}


/* works section design */

.works_wrapper{
    padding: 80px 0 0;
    text-align: center;
    padding-bottom: 100px;
}
.works_wrapper h2{
    font-size: 34px;
    font-weight: lighter;
    position: relative;
    display: inline;
    padding-bottom: 30px;
}
.works_wrapper h2::after{
    content: '';
    position: absolute;
    top: 96%;
    bottom: 0;
    left: 20%;
    right: 20%;
    background-color: #FE284B;
}
.works_wrapper .works_container{
    width: 1200px;
    margin: auto;
    margin-top: 120px;
}
.works_wrapper .work_box{
    width: 360px;
    height: 400px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 40px;
    background-color: #0d0d0d;
    color: #fff;
}
.work_box .back_img{
    height: 300px;
    position: relative;
}
.work_box .back_img.article{
    background: url("../images/article.png") 50% 50% no-repeat;
}
.work_box .back_img.aqua{
    background: url("../images/aqua.png") 50% 50% no-repeat;
}
.work_box .back_img.polio{
    background: url("../images/polio.png") 50% 50% no-repeat;
}
.work_box .back_img.aware{
    background: url("../images/aware.png") 50% 50% no-repeat;
}
.work_box .back_img.hangman{
    background: url("../images/hang.png") 50% 50% no-repeat;
}
.work_box .back_img.matrix{
    background: url("../images/matrix.png") 50% 50% no-repeat;
}
.work_box .back_img:hover .img_hover{
    position: absolute;
    width: 360px;
    height: 300px;
    top: 0;
    left: 0;
    background: #FE4966;
    opacity: 0.8;
    transition: all, 0.4s;
}
.work_box .back_img .img_hover i{
    color: #fff;
    opacity: 0;
    margin-top: 38%;
}
.work_box .back_img:hover .img_hover i{
    opacity: 1;
}
.work_box .back_text{
    font-size: 16px;
    height: 100px;
    padding: 20px 0;
}
.work_box .back_text p{
    font-size: 14px;
}


/* contact section design */

.contact_wrapper{
    padding: 0 0 100px;
    text-align: center;
}
.contact_wrapper h2{
    font-size: 34px;
    font-weight: lighter;
    position: relative;
    display: inline;
    padding-bottom: 30px;
}
.contact_wrapper h2::after{
    content: '';
    position: absolute;
    top: 96%;
    bottom: 0;
    left: 20%;
    right: 20%;
    background-color: #0d0d0d;
}
.contact_wrapper ul.info_list{
    padding-top: 100px;
    font-size: 20px;
}
.contact_wrapper ul li{
    margin-bottom: 14px;
}


/* footer design */

.footer{
    width: 100%;
    height: 100px;
    background-color: #0d0d0d;
    opacity: 0.9;
    color: #fff;
    position: relative;
}
.footer p{
    position: absolute;
    bottom: 30px;
    left: 80px;
}
.footer .icon{
    position: absolute;
    right: 140px;
    bottom: 30px;
}
.footer .icon i{
    color: #fff;
    margin-left: 20px;
}
