

/* html/css page */

.works_wrapper .works1_container,
.works_wrapper .works2_container{
    padding-top: 60px;
    min-height: 600px;
}
.works_wrapper .cont_box{
    width: 620px;
    height: 250px;
    border: 3.5px solid #000;
    padding : 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    position: relative;
}
.works_wrapper .cont_box > .cont_img,
.works_wrapper .cont_box > .cont_text{
    float: left;
    height: 100%;
}
.works_wrapper .cont_box > .cont_img{
    width: 360px;
    height: 223px;
    overflow: hidden;
    border: 1px solid #000;
}
.works_wrapper .cont_box > .cont_img img{
    width: 100%;
    height: auto;
}
.works_wrapper .cont_box > .cont_text{
    width: 230px;
    padding-left: 30px;
    font-size: 14px;
}
.works_wrapper .cont_box > a{
    display: block;
    position: absolute;
    top: -3px;
    right: 0px;
}
.works_wrapper .cont_box > a button{
    width: 100px;
    height: 30px;
    box-shadow: 1px 1px 1px #000;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    background-color: #000;
    cursor: pointer;
}
.works_wrapper .cont_box > a button:hover,
.works_wrapper .cont_box > a button:focus{
    text-decoration: underline;
}
.works_wrapper .cont_text h4{
    font-size: 28px;
    color: #add3d6;
    margin-top: 20px;
    margin-bottom: 20px;
}
.works_wrapper .cont_text p{
    font-size: 13px;
    width: 190px;
}


/* SASS/resp page */

.works2_container .cont_box .cont_img{
    width: 370px;
}
.works2_container .cont_box .cont_img img{
    width: 120%;
}
.works2_container .cont_box .cont_text{
    width: 220px;
    height: auto;
}


/* my works page */

.content_section .works3_container{
    width: 700px;
    margin: auto;
    padding-top: 50px;
}
.works3_container > div[class*='works']{
    width: 300px;
    float: left;
    margin-left: 40px;
    margin-bottom: 25px;
}
.works3_container a{
    position: relative;
    display: inline-block;
    border: 2.5px solid #000;
    width: 280px;
    height: 240px;
}
.works3_container .works3_img{
    width: 280px;
    height: 240px;
    overflow: hidden;
    position: absolute;
    top: 4px;
    left: 4px;
    opacity: 0.9;
}
.works3_container .works3_img:hover{
    top: 0px;
    left: 0px;
    transition: all, 0.2s;
}
.works3_img img{
    width: 120%;
    height: auto;
}
.works3_img p{
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
.works3_ironman .works3_img p{
    top: 5px;
    left: 8px;
}
.works3_matrix .works3_img p{
    bottom: 5px;
    left: 8px;
}
.works3_game .works3_img p{
    bottom: 10px;
    right: 20px;
}
.works3_playing .works3_img p{
    top: 10px;
    right: 20px;
}
