@font-face {
    font-family: 'VarelaRound-Regular';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Varela_Round/VarelaRound-Regular.ttf");
}
@font-face {
    font-family: 'PT_Serif';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/PT_Serif/PT_Serif-Web-Italic.ttf");

}
@font-face {
    font-family: 'Oswald-Bold';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Oswald/Oswald-Bold.ttf");

  }

@font-face {
    font-family: 'Nightmare-Before-Christmas';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Nightmare_Before_Christmas/Nightmare-Before-Christmas.ttf");

  }
