
@font-face {
	font-family: 'Aileron-B';
	font-style: normal;
	font-weight: normal;
	src: url("fonts/Aileron-Bold.otf");
}

@font-face {
	font-family: 'Aileron-R';
	font-style: normal;
	font-weight: normal;
	src: url("fonts/Aileron-Regular.otf");
}

@font-face {
	font-family: 'Aileron-L';
	font-style: normal;
	font-weight: normal;
	src: url("fonts/Aileron-Light.otf");
}


