@charset "UTF-8";
@import url("./reset.css");
@import url("./style-font.css");

body{
  font-family: 'Lato-Regular';
  font-size: 14px;
}

h1{
  font-size: 60px;
  font-family: 'Lato-Light';
}

h2{
  font-size: 30px;
  font-family: 'Lato-Light';
}

h3{
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Lato-Light';
}

img{
  vertical-align: top;
}

.container{
  width: 1440px;
  background-color: #d4d9f0;
}

/* 헤더 */

.header{
  background-image: url("images/head-bg.png");
  height: 900px;
  color: #fff;

}

.header-bar {
  width: 1170px;
  height: 110px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #747b86;
}

.navigation{
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Lato-Bold';
}

.navigation ul{
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.navigation li{
  height: 110px;
  line-height: 110px;
  position: relative;
}

.navigation li > a:focus,
.navigation li > a:hover{
  color: #0081ff;
}

.navigation li > a::after{
  content: "";
  position: absolute;
  top: 98%;
  right: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: all 0.4s;
}

.navigation li > a:hover::after,
.navigation li > a:focus::after{
  right: 0;
}

.my-section{
  width: 240px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  align-items: center;
}

.profile{
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin-left: 40px;
  font-size: 14px;
}

.headline{
  width: 700px;
  padding-left: 300px;
  margin-top: 170px;
}

.tag{
  display: inline-flex;
  height: 25px;
  border-radius: 30px;
  background-color: rgba(62, 65, 71, 0.5);
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.tag span{
  padding-left: 5px;
}

.subject h1{
  width: 800px;
}

.subject p{
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 65px;
  width: 600px;
  line-height: 36px;
  font-family: 'Lato-Light';
}

.icons img{
  padding-right: 10px;
}

.icons img:nth-child(2), .icons span{
  padding-left: 30px;
}

.wrapper{
  width: 1170px;
  margin: auto;
  background-color: #fff;
  border-radius: 25px;
  border: none;
  margin-top: -92px;
  padding-top: 100px;
  background-image: url("images/big-bg.png");
}

.first-p{
  width: 410px;
  height: 430px;
  padding-left: 300px;
}

.first-p p{
  font-size: 18px;
  line-height: 30px;
  padding-top: 20px;
}

.quotation{
  margin-top: 140px;
  line-height: 40px;
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
  position: relative;
}

.quotation::before{
  content: "";
  background: url("images/quote-icon.png") 50% 50% no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.second-p, .third-p{
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
  width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.sub{
  color: #787878;
  font-size: 16px;
  line-height: 24px;
}

.sub-text-1{
  width: 180px;
  height: 200px;
}

.second-p > p{
  width: 530px;
  font-size: 18px;
  line-height: 30px;
}

.sub-text-1 span{
  color: #0081ff;
  font-size: 60px;
}

.sub > p{
  padding-top: 25px;
}

.main-visual{
  position: relative;
}

.arrow-btn a:first-child{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.arrow-btn a:last-child{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.columns ul{
  padding-top: 110px;
  padding-bottom: 90px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  justify-content: center;
  align-items: baseline;
}

.columns li{
  width: 265px;
}

.columns li:nth-child(2){
  margin-left: 80px;
  margin-right: 80px;
}

.columns p{
  line-height: 24px;
  font-size: 16px;
}

.text-box > p{
  font-size: 18px;
  line-height: 30px;
  padding-top: 20px;
}

.third-p .text-box,
.third-p .sub{
  width: 400px;
}

.conclusion{
  width: 550px;
  margin: auto;
  padding-bottom: 60px;
}

.conclusion p{
  font-size: 18px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.like-btn, .twitter-btn, .fb-btn{
  position: relative;
  display: inline-block;
}

.conclusion span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.twitter-btn, .fb-btn{
  color: #fff;
}

.author{
  width: 830px;
  border-top: 1px solid #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  padding-top: 40px;
  position: relative;
}

.author-details{
  width: 300px;
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
}

.author p{
  font-size: 14px;
  color: #6f6f6f;
  margin-top: 10px;
  line-height: 20px;
}

.author button{
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  color: #0081ff;
  background-color: #fff;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 40px;
  cursor: pointer;
}


/* comment */

.comment{
  background-color: #f1f5f8;
  border-top: 2px solid #e5e5e5;
  border-radius: 0 0 25px 25px;
}

.comment-text{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  position: relative;
}

.comment-list p, .date{
  color: #999eae;
}

.comment-box{
  width: 700px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: flex-start;
}

.description{
  width: 600px;
  padding-right: 20px;
}

.comment-list p{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
}

.date{
  margin-left: 15px;
}

.comment-box-1{
  width: 420px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.description-1{
  width: 360px;
}

.comment-list li{
  margin-top: 50px;
  margin-bottom: 50px;
}

.reply-back-btn{
  display: inline;
  margin-left: 15px;
  color: #999eae;
}

.reply-btn{
  margin-right: 15px;
}

.more-comment{
  position: absolute;
  top: -65px;
  left: 0;
  font-weight: bold;
  color: #999eae;
  text-decoration: underline;
}

.hidden{
  position: absolute;
  left: -9999em;
}

.write-comment{
  padding-top: 20px;
  padding-bottom: 60px;
}

.comment-section{
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: center;
}

.comment-section input{
  width: 600px;
  height: 45px;
  border-radius: 15px;
  border: 1px solid #e5e5e5;
  padding-left: 10px;
}

.comment-section img{
  width: 45px;
  height: 45px;
  border: 1px solid #e5e5e5;
  border-radius: 50% 50%;
  margin-right: 20px;
}


/* addition */

.addition{
  text-align: center;
  min-height: 500px;
}

.addition > h2{
  margin-top: 80px;
  margin-bottom: 40px;
}

.img-container{
  width: 1170px;
  margin: auto;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  position: relative;
}

[class*="pic-"]{
  width: 370px;
  height: 390px;
  position: relative;
}

[class*="pic-"].selected{
  opacity: 0.8;
}

[class*="pic-"] > img{
  width: 370px;
  height: 390px;
  vertical-align: top;
}

[class*="pic-"] h2, [class*="pic-"] p, [class*="pic-"] .icons{
  position: absolute;
  left: 30px;
  text-align: left;
}

.pic-first h2{
  top: 40%;
  width: 300px;
}

.pic-first p, .pic-second h2, .pic-third h2{
  top: 60%;
  width: 308px;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}

.pic-first p{
  width: 300px;
  line-height: 24px;
  font-size: 16px;
}

.img-container .tag{
  position: absolute;
  top: 30px;
  left: 30px;
}

.img-container .icons{
  top: 90%;
  width: 300px;
}

.img-container .icons span{
  float: right;
}

.img-arrow-btn a:first-child{
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
}

.img-arrow-btn a:last-child{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5%;
}

.carousel{
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  width: 100px;
  justify-content: space-around;
  align-items: center;
}

.carousel a{
  border-radius: 50%;
  background-color: #868787;
  border: none;
  width: 10px;
  height: 10px;
}

.carousel .selected{
  background-color: #0081ff;
}


/* footer */

footer{
  background-color: #fff;
  margin-top: 80px;
  padding-top: 60px;
}

.footer-text{
  text-align: center;
  height: 350px;
  border-bottom: 1px solid #d4d9f0;
}

.footer-text span{
  font-size: 48px;
  font-family: 'Lato-Light';
  font-weight: bold;
}

.footer-text p{
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #787878;
}

footer form{
  display: inline-block;
  position: relative;
}

#enter-email{
  width: 370px;
  height: 50px;
  border: 2px solid #0081ff;
  border-radius: 20px;
  padding-left: 10px;
}

footer form img{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.footer-bottom{
  height: 110px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  color: #bbc0d4;
}

.copy{
  width: 360px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.footer-nav ul{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.footer-nav ul li{
  font-family: 'Lato-Bold';
}

.footer-nav ul li a:hover,
.footer-nav ul li a:focus{
  color: #0081ff;
}
